extends layout

block content
  nav
  a.link.dim.black.b.f4.tc.db.mb3.mb4-ns(href='#' title='Home')= title
  .tc.pb3
    a.link.dim.gray.f6.f5-ns.dib.mr3(href='/about' title='About') About
    a.link.dim.gray.f6.f5-ns.dib.mr3(href='/store' title='Store') Store
    a.link.dim.gray.f6.f5-ns.dib(href='/contact' title='Contact') Contact

  .mw9.center.ph3-ns
    .cf.ph2-ns
      .fl.w-100.w-third-ns.pa2
        each tweet in tweets
          a(href=tweet.url) !{tweet.text.bold()}
      .fl.w-50.w-third-ns.pa2
        article.pa2
          each pic in pictures
            h2.f3= pic.description
            - var url = pic.link
            img.w-100.f5.measure(src=url alt='Photo of outer space')
      .fl.w-50.w-third-ns.pa2
        article.pa2
          
        
        
        
